# Modelo predictivo amargo de un cocimiento de Estándar o Club Colombia

In [72]:
import pandas as pd

df = pd.read_csv('../src/2024_2025.csv', sep=';', encoding='latin1')

df

,Coc,Marca,Volumen Total de filtraci¢n,Extracto CO2,L£pulo Pellet Herkules,Alpha cidos Herkules,Catalizador isomerizaci¢n,Amargo por cocimiento
0,1,CLUB COLOMBIA,1000,9,28,"13,4",NaN,"47,7"
1,2,CLUB COLOMBIA,1000,9,28,"13,4",NaN,"44,9"
2,3,CLUB COLOMBIA,989,9,27,"13,4",NaN,"44,6"
3,4,CLUB COLOMBIA,995,9,28,"13,4",NaN,"45,3"
4,5,ESTANDAR 900,942,0,0,"13,4",0.0,0
...,...,...,...,...,...,...,...,...
3051,2583,ESTANDAR 18,989,3,43,"13,4",1800.0,NaN
3052,2584,ESTANDAR 18,987,3,43,"13,4",1800.0,NaN
3053,2585,ESTANDAR 18,989,0,0,"13,4",0.0,NaN
3054,2586,ESTANDAR 18,986,4,66,"13,4",2700.0,NaN
3055,2587,ESTANDAR 18,988,5,66,"13,4",2700.0,NaN

In [73]:
#Para revisar en qué columnas yo tengo un valor nulo
for column in df.columns:
    nulls = df[column].isnull().sum()
    if nulls > 0:
        print(column)

print('tengo nulos en todas estas columnas')

Extracto CO2
L£pulo Pellet  Herkules
Alpha  cidos Herkules
Catalizador isomerizaci¢n
Amargo por cocimiento
tengo nulos en todas estas columnas

In [74]:
df.shape

(3056, 8)

In [75]:
#Ahora a las columna de catalizador isomerización le voy a rellenar los valores nulos con el valor 0
df['Catalizador isomerizaci¢n'] = df['Catalizador isomerizaci¢n'].fillna(0)

In [39]:
#Ahora a borrar filas con nulos:
df = df.dropna()
df
#no borro aquí nada porque me baja más de 500 filas D:

In [ ]:
df = df.drop(columns=['Coc'])

In [ ]:
df.info()
#no hay nulos

In [ ]:
# volver todo numerico
lista_columnas = []
for column in df.columns:
    if column != 'Marca':
        df[column] = pd.to_numeric(df[column], errors='coerce')
        lista_columnas.append(column)

In [ ]:
df.info()

In [ ]:
#Análisis univariante
#variable categórica
import matplotlib.pyplot as plt
import seaborn as sns

fig, axis = plt.subplots(1, figsize=(15, 5))

sns.histplot(df['Marca'], ax=axis).set(ylabel='Frecuencia')
plt.show()

In [ ]:
#Voy a borrar la azteca, no es mi objetivo en este proyecto.
df = df[df['Marca'] != 'AZTECA 18']
fig, axis = plt.subplots(1, figsize=(15, 5))
sns.histplot(df['Marca'], ax=axis).set(ylabel='Frecuencia')
plt.show()

In [53]:
#Variables numéricas
from utils import columnas_numericas
columnas_numericas(df)
print(columnas_numericas(df))

In [ ]:

#Ahora se debe realizar un análisis univariante de variables numéricas


fig, axis = plt.subplots(4,2, figsize=(10,7), gridspec_kw={'height_ratios': [6,1,6,1]})
sns.histplot(ax= axis[0,0],data=df,x='Volumen Total de filtraci¢n ')
sns.boxplot(ax= axis[1,0],data=df,x='pVolumen Total de filtraci¢n ')
sns.histplot(ax= axis[0,1],data=df,x='Extracto CO2')#.set(xlim=(0,50))
sns.boxplot(ax= axis[1,1],data=df,x='Extracto CO2')
sns.histplot(ax= axis[2,0],data=df,x='L£pulo Pellet  Herkules')#.set(xlim=(0,50))
sns.boxplot(ax= axis[3,0],data=df,x='L£pulo Pellet  Herkules')
sns.histplot(ax= axis[2,0],data=df,x='Alpha \xa0cidos Herkules')#.set(xlim=(0,50))
sns.boxplot(ax= axis[3,0],data=df,x='Alpha \xa0cidos Herkules')
sns.histplot(ax= axis[2,0],data=df,x='L£pulo Pellet  Herkules')#.set(xlim=(0,50))
sns.boxplot(ax= axis[3,0],data=df,x='L£pulo Pellet  Herkules')
sns.histplot(ax= axis[2,0],data=df,x='L£pulo Pellet  Herkules')#.set(xlim=(0,50))
sns.boxplot(ax= axis[3,0],data=df,x='L£pulo Pellet  Herkules')


plt.tight_layout()
plt.show()